<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <header th:insert="fragments/common_header.html :: headerfiles"></header>
    <title>Error</title>
</head>
<body>
<div class="ui grid centered" style="margin-top: 30px">
    <div class=" column centered row" style="user-select: auto;">
        <div class="eight wide column" style="user-select: auto;">
            <div class="ui red message icon ">
                <i class=" exclamation circle icon"></i>
                <div class="content">
                    <div class="header">Something went wrong!</div>
                    <p> Please retry to enter the lobby later</p>
                </div>

            </div>
            <a th:href="@{/back_lobby}" class="ui  basic button" style="user-select: auto;color: blueviolet">
                Back to Lobby
            </a>
        </div>
    </div>

</body>
</html>