<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <header th:insert="fragments/common_header.html :: headerfiles"></header>
    <title>Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="fragments/common_header.html :: header"></div>

<div class="ui grid vertically divided">
    <div class="two column centered row">
        <div class="six wide column" id="map_box" style="width:600px; height:400px;">
        </div>
        <div class="eight wide column" id="action_box" style="user-select: auto;">
            <br>
            <div class="ui two column grid">
                <div class="column" style="user-select: auto;">
                    <div class="ui raised segment" style="user-select: auto;">
                        <a class="ui red ribbon label" style="user-select: auto;">Attack</a>
                        <form class="ui form" id="attack">
                            <div th:insert="fragments/action_form.html :: action_form"></div>
                            <button class="ui submit button tiny red basic" style="user-select: auto;">
                                Submit
                            </button>
                        </form>
                        <p></p>
                        <a class="ui blue ribbon label" style="user-select: auto;">Move</a>
                        <form class="ui form" id="move">
                            <div th:insert="fragments/action_form.html :: action_form"></div>
                            <button class="ui submit button basic blue tiny" style="user-select: auto;">
                                Submit
                            </button>
                        </form>
                        <p></p>

                    </div>
                </div>
                <div class="column" style="user-select: auto;">
                    <div class="ui segment" style="user-select: auto;">
                        <a class="ui orange right ribbon label" style="user-select: auto;">Technology Level Upgrade</a>
                        <p></p>
                        <a class="ui teal right ribbon label" style="user-select: auto;">Soldier Type Upgrade</a>
                        <p></p>
                    </div>
                </div>
                <div class="ui vertical labeled icon buttons">
                    <button class="ui button toggle" id="commit" style="user-select: auto;">
                        <i class="play icon" style="user-select: auto;"></i>
                        Commit for ending this turn's order issue
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="ui two column centered grid">
    <div class="six wide column" style="user-select: auto;">
        <div class="ui icon message">
            <i class="inbox icon" style="user-select: auto;"></i>
            <div class="content">
                <div class="header" style="user-select: auto;">Room Activity</div>
                <div style="user-select: auto;" id="msg_box">
                </div>
            </div>
        </div>
    </div>
    <div class="column" style="user-select: auto;">
        <button class="ui submit button" style="user-select: auto;" id="refresh">Refresh</button>
    </div>
</div>

<script th:src="@{/util.js}"></script>
<!--include JS to render MAP -->
<script th:src="@{/map_display.js}"></script>
<script th:inline="javascript">
    <!--    the start state is disabled commit and fields -->
    $(document).ready(function () {
            $("#commit").toggleClass("disabled");
            $("div.field").toggleClass("disabled");
            $(".submit.button.basic").toggleClass("disabled");
        }
    )


    let graphData = null
    const full_map_formatter = params => `😉\t${params.data.owner}<br />` +
        `💂\t${params.data.units}<br />` +
        `🍽\t${params.data.foodProd}<br />` +
        `💎\t${params.data.techProd}<br />` +
        `📏\t${params.data.value}`

    // default is loading box
    $('#map_box').empty().append(load_html);

    // Refresh map ajax call
    const refresh_map = () => {
        const config = {
            "url": "/update_map",
            "async": true,
            "type": "get",
            "success": res => {
                graphData = res;
                // display map
                display_map(full_map_formatter)
                $('#msg_box').append('<p style="user-select: auto;"> Update map </p>');
                $("#refresh").unbind();
                // change click event to resolve combat and also disable refresh
                $('#refresh').click(resolve_combat);
                toggleActionAndRefresh();
            },
            "error": () => {
                $('#msg_box').append('<p style="user-select: auto;"> Please wait... </p>');
                // make sure showing the loading in the map location
                $('#map_box').empty().append(load_html);
            }
        }
        $.ajax(config);
    }

    // end this turn, start to wait for combating result
    const submit_commit = () => {
        $.ajax({
            "url": "/commit",
            "async": true,
            "type": "post",
            "success": () => {
                $('#msg_box').append('<p style="user-select: auto;"> Commit this turn successfully. Please wait for resolving combat... </p>');
                // make sure showing the loading in the map location
                $('#map_box').empty().append(resolve_html);
                toggleActionAndRefresh();
            },
        });
    }

    // try to fetch resolve combat
    const resolve_combat = () => {
        $.ajax({
            type: "GET",
            url: '/resolve_combat',
            "async": true,
            success: function (resBody) {
                $('#msg_box').append('<p style="user-select: auto;"> [COMBAT RESULT]' + resBody['valRes'] + '</p>');
                if (resBody['graphData'] != null) {
                    graphData = resBody['graphData'];
                    // display map
                    display_map(full_map_formatter)
                    toggleActionAndRefresh();
                } else {
                    if (resBody['win']) {
                        location.href = '/game/win';
                    } else {
                        location.href = '/game/lose';
                    }
                }
            }
        });
    }

    $('#commit').click(submit_commit);
    $('#refresh').click(refresh_map);

</script>
<script th:src="@{/actions.js}"></script>
</body>

</html>

