<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <header th:insert="fragments/common_header.html :: headerfiles"></header>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.0.2/dist/echarts.min.js"></script>
    <title>Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="ui menu">
    <a th:href="@{/lobby}" class="header item" style="user-select: auto;color: blueviolet">
        Back to lobby
    </a>
    <a class="right item" style="user-select: auto;">
        <div class="ui button" style="user-select: auto;">Log-out</div>
    </a>
</div>

<div class="ui message">
    <div class="ui small feed">
        <h4 class="ui header" style="user-select: auto;">Room Activity</h4>
        <div class="event" style="user-select: auto;">
            <div class="content" style="user-select: auto;">
                <div class="summary" style="user-select: auto;">
                    Waiting for the game to start!
                </div>
            </div>
        </div>
    </div>
</div>

<!--<p th:text="${graphData}"></p>-->
<div class="ui grid vertically divided">
    <div class="two column centered row">
        <div id="map" class="six wide column" style="width:600px; height:400px;"></div>
        <div class="eight wide column" style="user-select: auto;">
            <div class="ui secondary pointing menu" id="actions">
                <a class="active item" style="user-select: auto;">
                    Move
                </a>
                <a class="item" style="user-select: auto;">
                    Attack
                </a>
                <a class="item" style="user-select: auto;">
                    Upgrade unit
                </a>
                <a class="item" style="user-select: auto;">
                    Upgrade technology level
                </a>
            </div>
            <div class="ui segment">
                <p></p>
            </div>
        </div>
    </div>
</div>


<form class="ui form" th:action="@{/place}" method="post" th:object="${wrapper}">
    <div class="ui header">Please enter the placement below:</div>
    <div class="fields">
        <!--        Render territory-->
        <div class="field" th:each="terrUnit, stat: ${wrapper.terrUnitList}">
            <label th:text="'Territory ' + ${terrUnit.getTerrName()}"></label>
            <div class="four wide fields">
                <select th:name="${terrUnit.getTerrName()}" class="ui fluid search dropdown" >
                    <!-- Render option -->
                    <option th:each="i: ${#numbers.sequence(0, units)}" th:text="${i}" th:value="${terrUnit.getUnit()}">
                    </option>
                </select>
            </div>
        </div>
    </div>
    <button class="ui submit button" style="user-select: auto;" type="submit">Submit</button>
</form>
<button class="ui submit button" style="user-select: auto;" id="refresh">Refresh</button>


<!--JS to render MAP -->
<!--Set interaction of action tabs-->
<script th:inline="javascript">
    const myChart = echarts.init(document.getElementById('map'));
    const colors = [[${graphData}]].map(territory => territory['color'])
    const innerLabelFormatter = "{@name}";
    const dimensions = ['name', 'owner', 'resources', 'value'];
    let option;
    option = {
        tooltip: {
            trigger: 'item',
            formatter: params => `😉\t${params.data.owner}<br />💎\t${params.data.resources}<br />📏\t${params.data.value}`
        },
        series: [
            {
                name: 'map',
                type: 'pie',
                radius: ['40%', '70%'],
                avoidLabelOverlap: false,
                itemStyle: {
                    borderRadius: 10,
                    borderColor: '#fff',
                    borderWidth: 4,
                },
                color: colors,
                label: {
                    position: 'inner',
                    fontSize: 20,
                    fontWeight: 'bold',
                    color: "#fff",
                    formatter: innerLabelFormatter,
                },
                labelLine: {
                    show: false
                },
                dimensions: dimensions,
            }
        ],
        dataset: {
            source: [[${graphData}]]
        }
    };
    myChart.setOption(option);

    $('#actions a.item').on('click', function () {
        $(this)
            .addClass('active')
            .siblings()
            .removeClass('active');
    })

    $('select.dropdown')
        .dropdown();

    const refresh_map = () => {
        const config = {
            "url": "/update_map",
            "async": true,
            "type": "get",
            "success": res => {
                let colors = res.map(territory => territory['color']);
                option.dataset.source = res;
                option.series[0].color = colors;
                myChart.clear();
                myChart.setOption(option);
            }
        }
        $.ajax(config);
    }

    $('#refresh').click(refresh_map);
</script>
</body>

</html>

