<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <header th:insert="fragments/common_header.html :: headerfiles"></header>
    <title>Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="fragments/common_header.html :: header"></div>

<div class="ui grid vertically divided">
    <div class="two column centered row">
        <div class="six wide column" id="map_box" style="width:600px; height:400px;">
        </div>
        <div class="eight wide column" id="action_box" style="user-select: auto;">
            <br>
            <div class="ui two column grid">
                <div th:insert="fragments/action_form.html :: action_form(${soldierType})"></div>
                <div class="ui vertical labeled icon buttons">
                    <button class="ui button toggle" id="commit" style="user-select: auto;">
                        <i class="play icon" style="user-select: auto;"></i>
                        Commit for ending this turn's order issue
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui two column centered grid">
    <div class="six wide column" style="user-select: auto;">
        <div class="ui icon message">
            <i class="inbox icon" style="user-select: auto;"></i>
            <div class="scrolling content">
                <div class="header" style="user-select: auto;">Room Activity</div>
                <div style="user-select: auto;" id="msg_box">
                </div>
            </div>
        </div>
    </div>
    <div class="column" style="user-select: auto;">
        <button class="ui submit button" style="user-select: auto;" id="refresh">Refresh</button>
    </div>
</div>

<div class="ui basic modal" id="winner">
    <div class="ui icon header">
        <i class="thumbs up outline icon"></i>
    </div>
    <div class="content">
        <p>Congratulation! You're the winner!</p>
    </div>
    <div class="actions">
        <a class="ui green ok inverted button" th:href="@{/back_lobby}">
            <i class="redo icon"></i>
            Back to Lobby
        </a>
    </div>
</div>

<div class="ui basic modal" id="lost">
    <div class="ui icon header">
        <i class="meh outline outline icon"></i>
    </div>
    <div class="content">
        <p>Sorry, you've lost all territories...</p>
    </div>
    <div class="actions">
        <a class="ui red basic cancel inverted button" th:href="@{/exit_game}">
            <i class="redo icon"></i>
            Back to Lobby
        </a>
        <a class="ui green ok inverted button">
            <i class="eye icon"></i>
            Continue to watch
        </a>
    </div>
</div>

<script th:src="@{/util.js}" type="text/javascript"></script>
<!-- Map display utils -->
<script th:src="@{/map_display.js}"></script>
<script th:inline="javascript">
    //<!--    the start state is disabled commit and fields -->
    let map_refresh_timer;
    let combat_resolve_timer;
    $(document).ready(function () {
            $("#commit").toggleClass("disabled");
            $("div.field").toggleClass("disabled");
            $(".submit.button.basic").toggleClass("disabled");
            map_refresh_timer = setInterval(refresh_map, 1000);
        }
    )

    let graphData = null
    const full_map_formatter = params => {
        var res=`😉\t${params.data.owner}<br />` +
        `🍽\t${params.data.foodProd}<br />` +
        `💎\t${params.data.techProd}<br />` +
        `📏\t${params.data.value}<br />`;
        if(params.data.unit0!=0){
            res+=`💂0\t${params.data.unit0}<br />`;
        }
        if(params.data.unit1!=0){
            res+=`💂1\t${params.data.unit1}<br />`;
        }
        if(params.data.unit2!=0){
            res+=`💂2\t${params.data.unit2}<br />`;
        }
        if(params.data.unit3!=0){
            res+=`💂3\t${params.data.unit3}<br />`;
        }
        if(params.data.unit4!=0){
            res+=`💂4\t${params.data.unit4}<br />`;
        }
        if(params.data.unit5!=0){
            res+=`💂5\t${params.data.unit5}<br />`;
        }
        return res;
    }


    // default is loading box
    $('#map_box').empty().append(load_html);

</script>
<!-- Refresh ajax set up -->
<script th:src="@{/refresh.js}"></script>
<!-- Action ajax set up -->
<script th:src="@{/actions.js}"></script>
</body>
</html>

