<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="fragments/common_header.html :: headerfiles">
    <title>Lobby</title>
</head>
<body>
<div class="ui menu">
    <a class="header item" style="user-select: auto;color: blueviolet">
        Lobby
    </a>
    <a class="right item" style="user-select: auto;">
        <div class="ui button" style="user-select: auto;">Log-out</div>
    </a>
</div>
<div class="ui grid centered" style="user-select: auto;">
    <div class="two column centered row" style="user-select: auto;">
        <div class="three wide column" style="user-select: auto;">
            <h2 class="ui header">
                <a style="color: blueviolet">Re-join</a> a game
                <div class="sub header" style="user-select: auto;">all games you're currently in</div>
            </h2>
        </div>
        <div class="eight wide column" style="user-select: auto;">
            <table class="ui very basic collapsing celled table">
                <thead style="user-select: auto;">
                <tr style="user-select: auto;">
                    <th style="user-select: auto;">Game ID</th>
                    <th style="user-select: auto;">Players</th>
                    <th style="user-select: auto;">Action</th>
                </tr>
                </thead>
                <tbody style="user-select: auto;">
                <tr style="user-select: auto;" th:each="joined : ${allJoinedGames}">
                    <td style="user-select: auto;">
                        [[${joined.id}]]
                    </td>
                    <td style="user-select: auto;">
                        <h4 class="ui image header" style="user-select: auto;">
                            <div class="sub header" style="user-select: auto;">
                                [[${#strings.listJoin(joined.players, ',')}]]
                            </div>
                        </h4>
                    </td>
                    <td>
                        <a class="ui purple tiny basic button" th:href="@{/join(id=${joined.id})}">Join</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui horizontal divider" style="user-select: auto;">
        Or
    </div>
    <div class="two column centered row" style="user-select: auto;">
        <div class="three wide column" style="user-select: auto;">
            <h2 class="ui header">
                <a style="color: blueviolet">Join</a> a new game
            </h2>
        </div>
        <div class="eight wide column" style="user-select: auto;">
            <table class="ui very basic collapsing celled table">
                <thead style="user-select: auto;">
                <tr style="user-select: auto;">
                    <th style="user-select: auto;">Game ID</th>
                    <th style="user-select: auto;">Players</th>
                    <th style="user-select: auto;">Action</th>
                </tr>
                </thead>
                <tbody style="user-select: auto;">
                <tr style="user-select: auto;" th:each="open : ${allOpenGames}">
                    <td style="user-select: auto;">
                        [[${open.id}]]
                    </td>
                    <td style="user-select: auto;">
                        <h4 class="ui image header" style="user-select: auto;">
                            <div class="sub header" style="user-select: auto;">
                                [[${#strings.listJoin(open.players, ',')}]]
                            </div>
                        </h4>
                    </td>
                    <td>
                        <a class="ui purple tiny basic button" th:href="@{/join(id=${open.id})}">Join</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui horizontal divider" style="user-select: auto;">
        Or
    </div>
    <div class="two column centered row" style="user-select: auto;">
        <div class="three wide column" style="user-select: auto;">
            <h2 class="ui header">
                <a style="color: blueviolet">Start</a> a new game
            </h2>
        </div>
        <div class="eight wide column" style="user-select: auto;">
            <form th:action="@{/start}" class="ui form" method="post">
                <div class="field inline fields">
                    <div class="four wide fields">
                        <select th:name="size" class="ui fluid search dropdown">
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <button class="ui purple button" type="submit">start</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    $('select.dropdown')
        .dropdown();
</script>
</html>