<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common_header.html :: headerfiles">
    <title>Login</title>
</head>
<body>
<div class="ui grid centered" style="margin-top: 30px">
    <div class=" column centered row" style="user-select: auto;">
        <div class="six wide column" style="user-select: auto;">
            <h2 class="ui header">
                <a style="color: blueviolet">Login</a>
                <div class="sub header" style="user-select: auto;">Group 2's RISC game - be excited!</div>
            </h2>
            <form class="ui form" name='f' action="login" method='POST'>
                <div class="field">
                    <label>Name</label>
                    <input type='text' name='username' value=''>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type='password' name='password'/>
                </div>
                <input name="submit" type="submit" value="submit"
                       class="ui submit button basic violet"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>