<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <header th:insert="fragments/common_header.html :: headerfiles"></header>
    <title>Waiting Room</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="fragments/common_header.html :: header"></div>
<br>
<div class="ui two column centered grid">
    <div class="column" style="user-select: auto;">
        <div class="ui icon message">
            <i class="notched circle loading icon" style="user-select: auto;"></i>
            <div class="content" style="user-select: auto;">
                <div class="header" style="user-select: auto;">
                    Just one second
                </div>
                <p style="user-select: auto;">We're trying to get enough players to join for starting the game. </p>
                <p>Feel free to press <b>Refresh</b> button to get updates.</p>
                <span id="last_update"> The room is not ready yet </span>
            </div>
        </div>
    </div>
    <div class="column" style="user-select: auto;">
        <button class="ui submit button" style="user-select: auto;" id="refresh">Refresh</button>
    </div>
</div>
<script th:src="@{/util.js}"></script>
<script>
    // <!--    Had a message including last update time in the msg box,
    //     each time refresh will call this method to update -->
    let timer;
    $(document).ready(function () {
        timer = setInterval(check_room_status, 1000)
    })
    const changeUpdateTime = function () {
        $('#last_update').text('[Last update: ' + new Date().toLocaleTimeString() + '] The room is not ready yet.');
    }
    const check_room_status = () => {
        const checkStatus = {
            "url": "/check_room_status",
            "async": true,
            "type": "get",
            "success": res => {
                if (res) {
                    location.href = "/game/place"
                } else {
                    // update the message in the room activity
                    changeUpdateTime();
                }
            }
        }
        $.ajax(checkStatus);
    }
    // check if the room is ready after entering the waiting session
    $(document).ready(check_room_status);
    // bind check_room_status on refresh button
    $('#refresh').click(check_room_status);
</script>
</body>
</html>