<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="action_form(soldierType)" id="action_forms">
<div class="column ui divided selection list" style="user-select: auto;">
    <div class="item" style="user-select: auto;">
        <h4 class="ui header" style="">Attack</h4>
        <form class="ui form" id="attack">
            <div th:insert="fragments/action_form_fields.html :: move_attack_fields(${soldierType})"></div>
            <div class="inline field">
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="useShip" tabindex="0" class="hidden">
                    <label>Use Ship</label>
                </div>
                <label></label>
            </div>
            <button class="ui submit button tiny violet basic" style="user-select: auto;">
                Submit
            </button>
        </form>
        <p></p>
    </div>
    <div class="item">
        <h4 class="ui header" style="">Move</h4>
        <form class="ui form" id="move" style="margin-top: 5px">
            <div th:insert="fragments/action_form_fields.html :: move_attack_fields(${soldierType})"></div>
            <button class="ui submit button basic violet tiny" style="user-select: auto;">
                Upgrade
            </button>
        </form>
        <p></p>
    </div>
    <div class="item">
        <h4 class="ui header" style="">Move Spy</h4>
        <form class="ui form" id="move_spy" style="margin-top: 5px">
            <div th:insert="fragments/action_form_fields.html :: move_spy"></div>
            <button class="ui submit button basic violet tiny" style="user-select: auto;">
                Upgrade
            </button>
        </form>
        <p></p>
    </div>
</div>
<div class="column ui divided selection list" style="user-select: auto;" hidden>
    <div class="item">
        <h4 class="ui header" style="">Soldier</h4>
        <form class="ui form" id="soldier" style="margin-top: 5px">
            <div th:insert="fragments/action_form_fields.html :: soldier_fields(${soldierType})"></div>
            <button class="ui submit button basic violet tiny" style="user-select: auto;">
                Submit
            </button>
        </form>
        <p></p>
    </div>
    <div class="item">
        <h4 class="ui header" style="">To Spy
        </h4>
        <form class="ui form" id="spy" style="margin-top: 5px">
            <div th:insert="fragments/action_form_fields.html :: spy_soldier_fields"></div>
            <button class="ui submit button basic violet tiny" style="user-select: auto;">
                Submit
            </button>
        </form>
        <p></p>
    </div>
    <div class="item" style="user-select: auto;">
        <form class="ui form field" id="tech" style="margin-top: 5px; display: inline">
            <button class="ui submit button tiny violet basic" style="user-select: auto;">
                Technology Level
            </button>
        </form>
        <form class="ui form field" id="res_cloaking" style="margin-top: 5px;display: inline">
            <button class="ui submit button tiny violet basic" style="user-select: auto;">
                Research Cloaking
            </button>
        </form>
    </div>
</div>

<div class="column ui divided selection list" style="user-select: auto;" hidden>
    <div class="item" style="user-select: auto;">
        <form class="ui form" id="tools" >
            <div th:insert="fragments/action_form_fields.html :: tools_fields"></div>
            <button class="ui submit button basic violet tiny" style="user-select: auto;">
                Submit
            </button>
        </form>
        <p></p>
    </div>
</div>
</div>
</body>
</html>