<!DOCTYPE HTML>
<!--Reference: https://www.baeldung.com/spring-thymeleaf-fragments-->
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:fragment="headerfiles">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
<div th:fragment="header">
    <div class="ui menu" style="margin-top: 0">
        <a th:href="@{/lobby}" class="header item" style="user-select: auto;color: blueviolet">
            Back to lobby
        </a>
        <a class="right item" style="user-select: auto;">
            <div class="ui button" style="user-select: auto;">Log-out</div>
        </a>
    </div>
</div>
</body>
</html>