<!DOCTYPE HTML>
<!--Reference: https://www.baeldung.com/spring-thymeleaf-fragments-->
<html xmlns:th="http://www.thymeleaf.org" lang="">
<body>
</body>
<script th:inline="javascript" th:fragment="mapjs">
    const myChart = echarts.init(document.getElementById('map'));
    const colors = [[${graphData}]].map(territory => territory['color'])
    const innerLabelFormatter = "{@name}";
    const dimensions = ['name', 'owner', 'resources', 'value'];
    let option;
    option = {
        tooltip: {
            trigger: 'item',
            formatter: params => `😉\t${params.data.owner}<br />💎\t${params.data.resources}<br />📏\t${params.data.value}`
        },
        series: [
            {
                name: 'map',
                type: 'pie',
                radius: ['40%', '70%'],
                avoidLabelOverlap: false,
                itemStyle: {
                    borderRadius: 10,
                    borderColor: '#fff',
                    borderWidth: 4,
                },
                color: colors,
                label: {
                    position: 'inner',
                    fontSize: 20,
                    fontWeight: 'bold',
                    color: "#fff",
                    formatter: innerLabelFormatter,
                },
                labelLine: {
                    show: false
                },
                dimensions: dimensions,
            }
        ],
        dataset: {
            source: [[${graphData}]]
        }
    };
    myChart.setOption(option);
</script>
</html>